<!-- Defines the banner at top of pages other than the home page -->
<header class="banner" role="banner">
    <div class="section-container">
        <div class="section-content">
            <div class="banner-title">
                <a href="{{ site.baseurl }}/">
                    <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="UCEF">
                    <h1>UCEF</h1>
                </a>
            </div>
            <div class="banner-nav">
                <nav role="navigation" class="main-nav">
                    <ul>
                        <li><a href="{{ site.baseurl }}/aboutus">About Us</a></li>
                        <li><a href="{{ site.baseurl }}/library">Library</a></li>
                        <li><a href="{{ site.baseurl }}/development">Development</a></li>
                        <li><a href="{{ site.baseurl }}/community">Community</a></li>
                        <li><a href="mailto:ucef+subscribe@list.nist.gov?subject=subscribe&#038;body=" class="btn btn-primary">Join List</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>