<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UCEF</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.rooturl }}{{ page.url }}">
<link rel="shortcut icon" href="assets/favicon.ico">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- DAP Analytics -->
<script type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOC&subagency=NIST&pua=UA-66610693-1&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css">

<!-- NIST Header CSS -->
<!--
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/nist_github_header.css">
-->

<!-- Shadowbox setup -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/shadowbox-3.0.3/shadowbox.css">
<script type="text/javascript" src="{{ site.baseurl }}/static/shadowbox-3.0.3/shadowbox.js"></script>
<script type="text/javascript">
   Shadowbox.init();
</script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
