<settings>
   <proxies>
    <proxy>
      <active>true</active>
      <host>cpswtng_archiva</host>
      <port>8080</port>
    </proxy>
  </proxies>
<servers>
    <server>
      <id>archiva.internal</id>
      <username>deployer</username>
      <password>{{ archiva_users.0.password }}</password>
    </server>
    <server>
      <id>archiva.snapshots</id>
	    <username>deployer</username>
      <password>{{ archiva_users.0.password }}</password>
    </server>
  </servers>
</settings>