<settings>
<servers>
    <server>
      <id>archiva.internal</id>
      <username>deployer</username>
      <password>{{ archiva_users.0.password }}</password>
    </server>
    <server>
      <id>archiva.snapshots</id>
	    <username>deployer</username>
      <password>{{ archiva_users.0.password }}</password>
    </server>
  </servers>
</settings>